{% extends 'graficos/home_graficos.html' %}


{% block graficos %}

<div class="container-sm">
    {% for e in empresa %}
    <h3>¿Qué etapa deseas ver?</h3>
    <div class="row">
        <div class="col-auto"><strong>1.</strong></div>
        <div class="col">
            <a href="{% url 'areas_extraccion' e.id_empresa %}"><button type="button" id="extraccion" style="border-radius:60px;">Extraccion materia prima</button></a>
        </div>
        <div class="col-auto"><strong>2.</strong></div>
        <div class="col">
            <a href="{% url 'areas_diseño' e.id_empresa %}"><button type="button" id="diseño" style="border-radius:60px;">Diseño y produccion</button></a>
        </div>
        <div class="col-auto"><strong>3.</strong></div>
        <div class="col">
            <a href="{% url 'areas_logistica' e.id_empresa %}"><button type="button" id="logistica" style="border-radius:60px;">Logistica</button></a>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-auto"><strong>4.</strong></div>
        <div class="col">
            <a href="{% url 'areas_compra' e.id_empresa %}"><button type="button" id="compra" style="border-radius:60px;">Compra</button></a>
        </div>
        <div class="col-auto"><strong>5.</strong></div>
        <div class="col">
            <a href="{% url 'areas_uso' e.id_empresa %}"><button type="button" id="uso_consumo" style="border-radius:60px;">Uso Consumo</button></a>
        </div>
        <div class="col-auto"><strong>6.</strong></div>
        <div class="col">
            <a href="{% url 'areas_fin' e.id_empresa %}"><button type="button" id="fin" style="border-radius:60px;">Fin de vida</button></a>
        </div>
        
    </div>
    {% endfor %}
<hr>
</div>

{% block etapa %}{% endblock etapa %}

{% for e in empresa %}
<script>
    document.getElementById("{{ e.id_empresa }}").className = "btn btn-success";
</script>
{% endfor %}
    
{% endblock graficos %}
    

