{% extends 'base.html' %}
{% load static %}

{% block body %}

<style>
    .formulario-password label,
.formulario-password input,
.formulario-password select,
.formulario-password option,
.formulario-password h2 {
	color: white !important;
}

.formulario-password input,
.formulario-password select {
	background-color: rgba(255, 255, 255, 0.1) !important;
	color: white !important;
	border: 1px solid #ddd !important;
}

.formulario-password input::placeholder {
	color: #e0e0e0 !important;
}
</style>

<div id="wrapper">
    <div class="container" style="max-width: 450px; margin-top: 0px;">

        <div class="card" style="margin-bottom: 150px;">
            <div class="card-body" id="card_">

                <h2>INGRESA TU EMAIL</h2>

                <!-- BLOQUE DE MENSAJES -->
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }} mt-3">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}

                <form method="POST" class="formulario-password">
                    {% csrf_token %}
                    
                    <div class="mb-3">
                        <label for="email" class="form-label">Correo registrado</label>
                        <input type="email" name="email" class="form-control" required>
                    </div>

                    <button type="submit" class="btn btn-success" style="border-radius: 60px;">Enviar clave temporal</button>
                    <a href="{% url 'login' %}" class="btn btn-secondary" style="border-radius: 60px;">Volver al login</a>
                </form>

            </div>
        </div>

    </div>
</div>

<div id="bg"></div>
{% endblock %}
